body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
}
button.openbtn{
    background:transparent !important;
}
.about-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.about-content,
.about-image {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-image img {
    max-width: 100%;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}