/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set the background color for the body */
body {
    background-color: #eeeeee; /* Light Gray */
    font-family: "Poppins", sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center; 
    /* display: flex;
    flex-direction:column;
    align-items: center; */
}

/* Style the header and navigation menu */


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: hsl(290, 59%, 66%); /* Dark Gray */
    font-weight: bold;
}

/* Style the content container */
.container {
    max-width: 80%;
    margin: auto;
    padding: 20px;
}

/* Style headings */
h1, h2 {
    color: #333; /* Dark Gray */
    text-align: left !important;
}

/* Style paragraphs */
p {
    margin: 10px 0;
    line-height: 1.5;
}


/* Style links */
a {
    text-decoration: none;
    color: #333; /* Dark Gray */
}

a:hover {
    text-decoration: underline;
}

.try-it-out-button {
    text-align: center;
    margin: 20px 0;
}

.try-it-out-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    color: var(--light-text);
    background-color: var(--dark-green);
}

.try-it-out-link.pink {
    background-color: var(--light-pink);
}

.im{
    width: 30%;
}
.im img{
    width: 100%;
}

/* Styles for images and text div */
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.image-container .image-box {
    width: 30%; /* Adjust the width as needed */
    margin-bottom: 20px;
    text-align: center;
}

.image-container .image-box img {
    width: 100%; /* Make the images fill the container */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-container .image-box p {
    margin-top: 10px;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-right {
    display: flex;
    align-items: center;
}

.login-button{
    display: flex;
    justify-content:space-around;
    color: var(--light-text);
    padding: 5px 15px;
    border: 2px solid rgb(75, 210, 75);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
    text-decoration:solid ;
    font-family: "Poppins", sans-serif;
    font-family: "Quicksand", sans-serif;
}
.login-button:hover {
    background-color: rgb(132, 243, 113); /* Darker green on hover */
    border-color: transparent;
    color: white;
}
.subscribe-button{
    display: flex;
    justify-content:space-around;
    Background-color: rgb(75, 210, 75);
    color: white;
    padding:5px 15px;
    border-color: transparent;
    margin-right: 20px;
    cursor: pointer;
    border-radius:5px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-family: "Quicksand", sans-serif;
    /* background: linear-gradient(180deg, rgb(121, 220, 67) 0%, rgba(87,136,30,1) 100%); */
}
.subscribe-button:hover{
    background-color:rgb(132, 243, 113);
    color:black;
}
.header-logoim{
    margin-left: 10px;
    border-radius: 50%;
    display:flex;
    justify-content: flex-start;
    margin: 0;
    width: 30px;
    height:30px;
    position:absolute;
    top:10px;
    left:40px;
    z-index: 1;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.centered-h1{
    font-size:60px;
    text-align: center;
    margin-bottom: 0.5em;
    color:  rgb(75, 210, 75);
}
.centered-h2{
    text-align: center;
}
.centered-span {
    display: block;
    text-align: center;
    margin-top: 0.5em;
}
