body {
    font-family: "Poppins",sans-serif;
    font-family: "Quicksand", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* height: 30vh; */
}

.signup-container
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
p{
    text-align: center;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.login-container label{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input {
    margin-bottom: 10px;
    padding: 5px;
}
.login-container input{
    margin-bottom: 10px;
    padding: 5px;
}


form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}
button.openbtn{
    background:transparent !important;
}
input[type="submit"] {
    background-color: #333; 
    color: #fff;
     padding: 10px 20px;
     border: none; 
     border-radius: 5px;
     cursor: pointer;
     align-self: center;

} 

input[type="submit"]:hover {
    background-color: #656363;
    max-width: 100%;
    margin-bottom: 10px; 
    padding-top: 10px; 
    
}

.header-logoim{
    margin-left: 10px;
    border-radius: 50%;
    display:flex;
    justify-content: flex-start;
    margin: 0;
    width: 30px;
    height:30px;
    position:absolute;
    top:10px;
    left:40px;
    z-index: 1;
}