
<div class="about-container">
    <div class="about-content">
        <h2 class="h2-d">Our Story</h2>
        <p>
            Welcome to our website! We are a passionate group of students dedicated to providing high-quality products and services.
        </p>
        <p>
          w  Our journey began in 2023, and since then, we have been committed to excellence. We pride ourselves on our expertise, innovation, and customer satisfaction.
        </p>
        <p>
            As a team, we constantly strive to improve and deliver the best solutions to our customers. We believe in the power of creativity, teamwork, and customers.
        </p>
        <h2 class="h2-d">How We Worked It Out</h2>
            <p>
                Working together as a team, we faced numerous challenges and learned valuable lessons along the way. Our commitment to our vision and our customers has been unwavering.
            </p>
            <p>
                We believe in open communication, continuous learning, and adaptability. These principles have allowed us to overcome obstacles and make our journey a successful one.
            </p>
        
    </div>
   
</div>

<footer>
    <p>&copy; 2023 ImageRestoration.com</p>
</footer>