<main>
    <!-- <div class="content">
      <h1 class="centered-h1">VintPix</h1>
      <h2 class="centered-h2">
        Restoration of Vintage, Damaged 
        <span class="centered-span">&amp; Noisy Pictures.</span>
      </h2>
      <div class="try-it-out-button">
        <a href="Restoration.html" class="try-it-out-link">Try It Out</a>
      </div>
      <img id="camPic" src="./images/frth-removebg-preview.png" alt="picture">
    </div> -->
    <div class="main-display">
      <img class="img-1" src="./images/green-abstract-3840x1080-14254.jpg">
      <div class="p-center">
        <h1 class="centered-h1">VintPix</h1>
        <h2 class="centered-h2">Restoration of Vintage, Damaged Noisy Pictures.</h2>
      </div>
    </div>
    
    <div>
      <div  class="check-points">
        <p>
          <img src="./images/check-symbol.png" id="check">Hybrid Machine Learning <br>
          <img src="./images/check-symbol.png" id="check">Machine Learning algorithms for restoring images<br>
          <img src="./images/check-symbol.png" id="check">Process <br>
          <img src="./images/check-symbol.png" id="check">Restoration 
        </p>
      </div>
      <div>
        <img id="img-2" src="./images/photo-1677611998429-1baa4371456b.jpg">
      </div>
      <div>
        <img id="img-3" src="./images/360_F_590138560_ZvL5GRhMN308ahp5HAUbbs2hqTI1D1Xs.jpg">
      </div>
    </div>
    <div class="bc-ig">
      <h3>
        Restore Images using our Hybrid Machine Learning algorithm<br>
        Using Traditional Restoration & Deblurring, Denoising, Resizing <br>
        And Decolorization Algorithms. 
        
      </h3>
      <div>
        <img id="img-4" src="./images/hLSEf3ZMMz85EbriG8Pwzn-320-80.jpg">
      </div>
      
    </div>
    <div>
      
      <div>
        <img id="img-5" src="./images/ios-13-stock-ipados-dark-green-black-background-amoled-ipad-4480x2520-794.jpg">
      </div>
      <p class="p-2">
        To Learn about Different Machine Learning algorithms go to 
        <a ui-sref="home.htm">Home</a>
        <br>
        To try out Other machine learning algorithm <a ui-sref="restoration.htm">Try It Out Here.</a>
        <br> To try Our Hybrid Machine Learning algorithm to Restore Image <a ui-sref="subscribe.htm">Click here to Subscribe. </a>
        <!-- class="try-it-out-link" -->
      </p>

    </div>

  </main>