<div class="subscription-container">
    <h2>Image Restoration Subscription</h2>
    <div class="row-containers">
        <div class="subscription-container1">
            <div class="subscription-plan">
                <h3>Free Plan</h3>
                <p>Get access to a basic Image restoration algorithm for free and get updates about new algorithms.<br><br>
                    This plan is perfect for whom wants to explore with essential features.
                </p>
                <p>Image restoration algorithms that were mentioned in the <a href="Index.html" class="atr1">Home</a> page.</p>
                <a href="FreeSubscribe.html" class="subscribe-button1">Subscribe for Free</a>
            </div>
        </div>
        <div class="subscription-container2">
            <div class="subscription-plan">
                <h3>Premium Plan</h3>
                <p>Unlock an advanced Image restoration algorithm with our premium subscription.</p>
                <p>That contains the newest algorithms and the algorithm created by <a href="AboutUs.html" class="atr1">the Student</a> of this project.</a> </p>
                <p>Price: $9.99/month</p>
                <a href="PremiumSubscribe.html" class="subscribe-button1">Subscribe Now</a>
            </div>
        </div>
    </div>
    <p><a class="attr2" href="ContactUs.html">Contact us</a> for custom plans or more information.</p>
</div>

